@dark-color: #002642;
@white: #fff;

body {
  width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;   
}

p {
        display: inline-block;
        padding-left: 10px;
      }

figcaption {
  text-align: right;
}

header {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  background: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // border: 1px solid red;
  height: 500px;
  color: @dark-color;
  position: relative;

  .logonav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    overflow: hidden;
    position: relative;

    img {
      float: left;
    }

    p {
      float: left;
    }

    ul {
      display: inline;
      float: right;

      li {
        padding-left: 5px;
        display: inline-block;
        font-weight: 900;
        font-size: 1.1em;
      }
    }
  }

  .headline {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    
    p {
      margin-top: 0;
      font-size: .8em;
    }

    h2 {
      color: white;
      font-size: 6em;
      text-align: center;
      text-shadow: 2px 2px 10px @dark-color;
      margin: 0;
      line-height: 100px;
      position: relative;
    }
  }
}

.content {
  overflow: hidden;
  width: 80%;
  margin: auto;
  padding: 30px;
  color: @dark-color;

  .left {
    background: red;
    width: calc(~'100% - 250px');
    float: left;
  }

  .right {
    width: 250px;
    float: right;
    font-size: .8em;

    img {
      max-width: 250px;
      display: block;
      margin: 30px auto 10px auto;
    }

    h3 {
      font-family: Oswald, Helvetica, Arial, sans-serif;
      margin-bottom: 0;
    }
    
    h4 {
      padding: 0;
      margin: 0;
      margin-bottom: 0;
      text-align: center;
      color: #106fb3;
    }

    .social {
      padding: 0;
      margin: 0;
      text-align: center;
      display: block;
      font-size: .8em;

      a {
        text-decoration: none;
        padding-right: 10px;
      }
    }

    a {
      color: #a2b2bd;

      &:hover {
        color: #106fb3;
      }
    }

    p {
      font-size: .8em;
      padding-left: 0;
      line-height: 1.8em;
      color: #a2b2bd;

    }
  }
}


footer {
  border-top: 1px solid #ccc;
  background: white;
  clear: both;
  font-family: Oswald, Helvetica, Arial, sans-serif;


  h1 {
    text-align: center;
    font-size: 4em;
    color: @dark-color;
  }

  .more-posts {
    background: @dark-color;
    max-height: 100%;

    ul {
      margin: 0;
      padding: 0;
      font-size: 0;

      * {
        font-size: 16px;
      }
    
      li {
        display: inline-block;
        text-align: center;
        width: 25%;
        min-width: 200px;
        position: relative;

        // &:hover {
        //   color: @dark-color; 
        // }

        span {
          background: @dark-color;
          opacity: .8;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;

          img {
            width: 100%;
          }
        }

        a {
          color: @white;

          span {
          position: absolute;
          bottom: 0%;
          left: 0%;
          font-size: 1.8em;
          font-weight: bold;
          text-align: left;
          // padding-left: 10px;
          // opacity: 1;
          z-index: 100;
            
            h3 {
              position: absolute;
              bottom: 2%;
              margin: 0;
              padding-left: 10px;
              font-size: 1.2em;
              vertical-align: bottom;
              color: black;
              opacity: .9;
            }
            
          }
        
          // span {
          //   position: absolute;
          //   bottom: 0%;
          //   left: 0%;
          //   font-size: 1.8em;
          //   font-weight: bold;
          //   color: #000724;
          //   text-align: left;
          //   padding-left: 10px;
          //   opacity: 1;
        }
      } 
    }  
  }

  .footernav {
    height: 100%;
    background: @dark-color;
    color: #a2b2bd;
    overflow: hidden;

    .footernav-contact {
      padding: 20px;
      width: 80%;
      margin: auto;
      font-size: .8em;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;

      img {
        float: left;
      }

      ul {
        float: right;

        li {
          border: none;
          padding: 0 5px;
          display: inline-block;
          border-left: 1px solid #a2b2bd;

          &:first-child {
            border-left: none;
          }
        }  
      }
    }
  }
}
